@import './navbar.scss';
.header {
    width: 100%;
    background: $blue;
    box-shadow: $boxShadow;
    max-width: 1012px;

    display: flex;

    position: relative;

   font-size: 16px; 
}
.header-lg {
    height: 400px;
    margin-bottom: 100px;
}
.header-md {
    height: 200px;
}
.header-sm {
    height: 100px;
}


.header-inner-left {
    height: 100%;
    width: 70%;
    background: url(./test.jpg);
    background-position: center;
    background-size: cover;
    .header-linear-gradient {
        height: 100%;
        width: 100%;
        background: linear-gradient(267.89deg, #4299E1 13.44%, rgba(255, 255, 255, 0) 125.67%), linear-gradient(60.76deg, #4FD1C5 5.19%, rgba(255, 255, 255, 0) 71.77%);
    }
}
.header-inner-right {
    height: 100%;
    width: 30%;
}

.header-inner-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    margin: 15px;


    color: $white;
    text-align: right;
    margin: 15px;

    h1 {
        font-family: $staatliches;
        font-size: 4em;
        font-weight: 600;
        color: $white;
    }
    p {
        position: absolute;
        right: 0;
        width: 60%;
    }
    .button {
        position: absolute;
        bottom: 30px;
        right: 0;
        min-width: 200px;
    }
}

@media screen and (max-width: 800px) {
    .header-inner-left {
        height: 100%;
        width: 100%;
        .header-linear-gradient {
            background: linear-gradient(258.4deg, $blue 4.88%, rgba(255, 255, 255, 0) 125.69%), linear-gradient(60.76deg, $teal 5.19%, rgba(255, 255, 255, 0) 71.77%);
        }
    }
    .header-inner-right {
        display: none;
    }
    .header-inner-content {
        width: auto;
        text-align: left;
        left: 0;

        p {
            display: none;
        }
    }
}