@import './app.scss';

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    width: 100vw;

    background: $blue;

    /* Defining font-size here as the "root" font-size for nested elements. */
    font-size: 16px;

    * {
        margin: 0 15px;
        padding: 0;
        font-family: $staatliches;
        color: $white;
        font-weight: 400;
    }
    *::selection {
        background: none;
    }

    h1 {
        font-size: 1.8em;
        cursor: pointer;
    }
    h1:hover {
        text-shadow: $textShadow;
    }

    ul {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
        justify-self: flex-end;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 30px;


            height: 100%;

            float: left;

            .Link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
            .Link:hover {
                text-shadow: $textShadow;
            }
        }

        .nav-button {
            position: relative;
            height: 70% !important;
            padding: 0 35px;
            background: $teal;
            cursor: pointer;
        }
        .nav-button:after {
            content: '';
            position: absolute;
            top: 0; left: 0;
            border-right: 0px solid $teal;
            border-top: 0px solid $blue;
            width: 0;
        }
        .nav-button:hover:after {
            animation: foldingCorner .5s forwards;
        }
        
        @keyframes foldingCorner {
            from {
                border-right: 0px solid $teal;
                border-top: 0px solid $blue;
            }
            to {
                border-right: 15px solid $teal;
                border-top: 15px solid $blue;
            }
        }
    }
}

.social-nav {
    background: none;
    * {
        color:$blue;
        margin: 0 5px;
    }
    .Link-social:hover {
        text-shadow: none;
    }
}